### Financial Engineering 
# Module Assignment - Part 2

<hr>

## Table of Contents
1. [Question 1](#q1)
2. [Question 2](#q2)
3. [Question 3](#q3)
4. [Question 4](#q4)
5. [Question 5](#q5)

In [1]:
# importing dependencies 
import numpy as np 
import fintech.prices as pr # for prices
import fintech.dataio as dtio # for data input & output 
import fintech.finmodels as fmd # for financial models 
from IPython.display import display

<a id="q1"></a>
## Question #1

Consider an investment portfolio consisting of \\$100K in Aluminium and \\$400K in Zinc. The daily
volatility of Aluminium is 0.70% and for Zinc is 0.20%. The correlation coefficient between them is
0.70.

<b>(i)</b> Calculate the 15-day, 99% Value at Risk (VaR) of the portfolio.

<a id="q2"></a>
## Question #2

<b>(i)</b> Download closing prices for Apple for the period 01/01/2013 and 30/11/2017. Apply daily log returns and measure the average daily return.

In [2]:
# downloading closing prices for apple 
data_path = "data/part_2/"
aapl_ticker = "AAPL"

# date format '%Y-%m-%d' from 01/01/2013 to 30/11/2017
start_date = "2013-01-01"
end_date = "2017-11-30"

# download prices for AAPL if they are not found in data path 
dtio.df2csv(data_path, aapl_ticker, pr.download_prices, aapl_ticker, start_date, end_date)

# importing AAPL prices from csv to pandas dataframe 
aapl_prices = dtio.csv2df(data_path, aapl_ticker)

# calculate daily log returns for aapl
aapl_prices["log_returns"] = pr.log_diff(dataframe=aapl_prices, 
                                         column="Adj Close", 
                                         shift=1)

# display daily log returns for AAPL (head and tail rows)
display(aapl_prices.head())
display(aapl_prices.tail())

# print rows count before dropping NaN 
print("Rows before dropping NaN: {0}".format(aapl_prices.shape[0]))

# drop NaN daily log returns 
aapl_prices = aapl_prices.dropna()

# print rows count after dropping NaN 
print("Rows after dropping NaN: {0}".format(aapl_prices.shape[0]))

# calculating the avg daily return 
avg_logret = np.mean(aapl_prices["log_returns"])
print("\nAvg daily log return: {0}".format(round(avg_logret, 6)))

File already found in path specified: data/part_2/AAPL.csv.

,Date,Open,High,Low,Close,Adj Close,Volume,log_returns
0,2012-12-31,72.932854,76.485718,72.714287,76.024284,54.206390,164873100,NaN
1,2013-01-02,79.117142,79.285713,77.375717,78.432854,55.923737,140129500,0.031190
2,2013-01-03,78.268570,78.524284,77.285713,77.442856,55.217865,88241300,-0.012702
3,2013-01-04,76.709999,76.947144,75.118568,75.285713,53.679771,148583400,-0.028250
4,2013-01-07,74.571426,75.614288,73.599998,74.842857,53.364014,121039100,-0.005900

,Date,Open,High,Low,Close,Adj Close,Volume,log_returns
1234,2017-11-22,173.360001,175.000000,173.050003,174.960007,172.372147,25588900,0.010457
1235,2017-11-24,175.100006,175.500000,174.649994,174.970001,172.382004,14026700,0.000057
1236,2017-11-27,175.050003,175.080002,173.339996,174.089996,171.514999,20716800,-0.005042
1237,2017-11-28,174.300003,174.869995,171.860001,173.070007,170.510101,26428800,-0.005876
1238,2017-11-29,172.630005,172.919998,167.160004,169.479996,166.973206,41666400,-0.020961

Rows before dropping NaN: 1239
Rows after dropping NaN: 1238

Avg daily log return: 0.000909

<b>(ii)</b> We wish to measure volatility. Compare and discuss pros and cons of utilising the Historical method, Exponentially Moving Average method or Garch.

<b>(iii)</b> Use Garch(1,1) to measure volatility based on the data from (i).